A {
	COLOR: #333333;
	text-decoration: none;
} 
A:hover {
	COLOR: #FF6600;
	text-decoration: underline;
}
A.img:link {text-decoration: none; color: 000000} 
A.img:visited {text-decoration: none; color: 000000}
A.img:active {text-decoration: none; color: ff0000}
A.img:hover {border:2 ridge #FF9900}
 BODY {scrollbar-arrow-color :#333333;SCROLLBAR-HIGHLIGHT-COLOR: buttonface;SCROLLBAR-SHADOW-COLOR: buttonface;SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;SCROLLBAR-TRACK-COLOR: #eeeeee;SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;margin: 0px;font-family: "宋体";font-size: 9pt;font-style: normal;line-height: 160%;color: #666666;border: 0pt solid #FFFFFF;}
TD {FONT-SIZE: 9pt;COLOR: #666666;LINE-HEIGHT: 160%;FONT-FAMILY: "宋体";font-style: normal;font-weight: normal;font-variant: normal;}
.table-1 {border: 1px solid #CCCCCC;}
.table-xia {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCCCCC;}
.table-zuoyou {border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #CCCCCC;border-left-color: #CCCCCC;}
.wenbenkuang {color: #333333;border: 1px solid #999999;font-family: "宋体";font-size: 9pt;}
.go-wenbenkuang {font-family: "宋体";font-size: 9pt;color: #333333;background-color: #eeeeee;cursor: hand;padding: 1px;height: 19px;border-top: 1px solid #FFFFFF;border-right: 1px solid #a2a2a2;border-bottom: 1px solid #a2a2a2;border-left: 1px solid #FFFFFF;}
.table-shangxia {border-top-width: 1px;border-bottom-width: 1px;border-top-style: solid;border-bottom-style: solid;border-top-color: #CCCCCC;border-bottom-color: #CCCCCC;}
.table-you {border-right-width: 1px;border-right-style: solid;border-right-color: #CCCCCC;}
.table-zuo {border-left-width: 1px;border-left-style: solid;border-left-color: #CCCCCC;}
.table-shang {
	border-top-width: 1px;
	order-top-style: solid;
	border-top-color: #CCCCCC;
	border-top-style: solid;
}
.table-3 {
	border: 1px solid #CCCCCC;

}
A.a1 {COLOR: #ffffff;TEXT-DECORATION: none;}
A.a1:hover {COLOR: #ffffff; TEXT-DECORATION: none;}
a.a_000000:link {font-family: "宋体";font-size: 9pt;color: #000000;text-decoration: none;}
a.a_000000:hover {font-family: "宋体";font-size: 9pt;color: #FF3333;text-decoration: underline;}
a.my_a_dh:link {  font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
a.my_a_dh:hover {  font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: underline;LEFT: 1px; POSITION: relative; TOP: 1px }
a.my_a_dh:visited {  font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.my_dh_filter {FILTER: DropShadow(Color=#333333, OffX=1, OffY=1, Positive=1)}
.style{float: right; filter: Glow(Color=#000000, Strength=1);font-family:"宋体";font-size:12px;text-decoration:none;//黑边白字 }
.style2{
	float: left;
	filter: Glow(Color=#FFFFFF, Strength=3);
	font-family:"宋体";
	font-size:12px;
	text-decoration:none;
	color: #333333;
//白字黑边}

.table-2 {
	border: 1px solid #009a00;
}
.table-4 {
	border: 1px solid #b5b629;
}
.table-5 {
	border: 1px solid #339999;
}
.top-dh {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #333333;
}
body {
	margin: 0px;
	padding: 0px;
}
.bg_img {
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bg_img_loop_center {
	background-repeat: repeat-y;
	background-position: center;
}
.td_line_6 {
	line-height: 6px;
}.bg_img2 {
	background-repeat: no-repeat;
	background-position: center top;
}
.table_right {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #CCCCCC;
}
.table_top {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.table_botton {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.table_left {
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.table_top_left {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
}.txtbg {
	background-color: #F3F3F3;
}
